* {padding: 0; margin: 0;
box-sizing: border-box;
}

body {font-family: "Poppins", sans-serif;
font-weight: 400;}

header {border-bottom: 1px solid rgb(236, 229, 229);
height: 80px;
}


section {padding-top: 32px;
    padding-bottom: 32px;
}


header .container {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#logo,h1,h2,h3,h4,h5,h6 {font-family: "Lora", serif;
    font-weight: 600;
}

.container {
width: 1320px;
height: 100%;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}

nav ul {display: flex;
    flex-direction: row;
gap: 24px;
list-style: none;
}

#logo {color: black;
font-size: 25.66px;
text-decoration: none;
}


.navlist {text-decoration: none;
color: rgb(65, 63, 63);
}

#section1img {width: 50%;
    }

#section1 .container {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    
}

h1 {font-size: 40px;
margin-bottom: 24px;}

p {color: rgb(102, 97, 97);
    line-height: 170%;
}

.button {text-decoration: none;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
}

.buttonholder {margin-top: 32px;
}

.primarybutton {background-color: black;
color: white;
}

.secondarybutton {color: black;
    border: 1px solid rgb(63, 61, 61);
}

#section2 {background-color: rgb(216, 204, 204);}

h2 {font-size: 32px;
margin-bottom: 8px;
}

.achivements {background-color: white;
padding: 24px;
border: 1px solid rgb(223, 217, 217);
margin-top: 32px;
}

#achivementlist {list-style: none;
    display: flex;
    flex-direction: row;
gap: 24px;
}
